<div class="widget">
    <h3 class="widget-title"><%= __('widget.contact') %></h3>
    <div class="widget-body">
        <div id="contact">
            <div class="content">
                <%- theme.site.contact %>
            </div>
        </div>
    </div>
</div>
