<% if (post.comments) { %>
  <section id="comments">
  	<% if (theme.comment.type === 'disqus') { %>
      <div class="disqus"></div>
      <p class="disqus-notice hentry"  style="display: none;">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>  能否参与评论,且看个人手段。
      </p>
    <% } else if (theme.comment.type === 'youyan') { %>
      <div id="uyan_frame"></div>
    <% } else if (theme.comment.type === 'livere') { %>
      <div id="lv-container" data-id="city" data-uid="<%= theme.comment.livere.uid %>">
        <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
      </div>    
    <% } else if (theme.comment.type === 'gitment') { %>

    <% } else if (theme.comment.type === 'gitalk') { %>
           
    <% } else if (theme.comment.type === 'valine') { %>
      <div id="vcomments"></div>
    <% } %>
  </section>
<% } %>
